[user]
  name = Seunggeun Cho
  email = git@sgncho.com
  signingkey = ~/.ssh/id_ed25519.pub

[interactive]
  diffFilter = delta --color-only
 
[delta]
  light = true
  navigate = true
  line-numbers = true
 
[commit]
  gpgsign = true

[gpg]
  format = ssh
 
[gpg "ssh"]
  allowedSignersFile = ~/.ssh/.allowed-signers
 
[tag]
  gpgSign = true
 
[merge]
  conflictStyle = zdiff3
 
[core]
  editor = $EDITOR
  excludesfile = ~/.config/git/ignore
  autocrlf = input
  pager = delta
 
[diff]
  algorithm = histogram
  colorMoved = default
 
[alias]
  graph = log --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)%n' --abbrev-commit --date=relative --branches
  ch = "!git checkout $(git branch | fzf)"
  a = "!git add $(git status -s | fzf -m | awk '{print $2}')"

[pull]
	ff = only

[rebase]
	autoSquash = true

[init]
	defaultBranch = main
