[
  {
    "bindings": {
      "alt-/": "assistant::ToggleFocus",
      "ctrl-a h": ["workspace::ActivatePaneInDirection", "Left"],
      "ctrl-a j": ["workspace::ActivatePaneInDirection", "Down"], 
      "ctrl-a k": ["workspace::ActivatePaneInDirection", "Up"],
      "ctrl-a l": ["workspace::ActivatePaneInDirection", "Right"]
    }
  },
  {
    "context": "vim_mode == normal || Terminal",
    "bindings": {
      "ctrl-j": "workspace::ToggleBottomDock"
    }
  },
  {
    "context": "(Dock||Terminal||Editor) && os == macos",
    "bindings": {
      "cmd-h": "workspace::ToggleLeftDock",
      "cmd-l": "workspace::ToggleRightDock"
    }
  },
  {
    "context": "Dock||Terminal||Editor",
    "bindings": {
      "ctrl-h": "workspace::ToggleLeftDock",
      "ctrl-l": "workspace::ToggleRightDock"
    }
  }
]